* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #11131a;
}

body {
  font-family: Inter, system-ui, sans-serif;
}

#chart-layout {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#chart-stack {
  --axis-x-height: 30px;
  position: relative;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
}

#volume,
#chart,
#trades,
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - var(--axis-x-height));
}

#volume {
  z-index: 0;
  pointer-events: none;
}

#chart {
  z-index: 1;
}

#trades {
  z-index: 2;
}

#overlay {
  z-index: 3;
}

#axis-x {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--axis-x-height);
  z-index: 4;
}

#axis-y {
  position: relative;
  height: calc(100% - 30px);
  flex-shrink: 0;
  z-index: 3;
}
